$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~@fortawesome/fontawesome-free/js/all.js';
@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

.container {
    /* Set a fixed width and height for the container */
    width: 500px;
    height: 300px;

    /* Add padding if necessary (optional) */
    padding: 20px;

    /* Add a border if necessary (optional) */
    border: 1px solid #ccc;

    /* Center the container horizontally and vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
