{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container h-100 w-100" style=
    "height: 100vh; 
    width: 100vh; 
    padding: 20px;
    ">
    <h1>List of Modules</h1>
    <table class="table table-striped table-dark text-center">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Module Name</th>
            </tr>
        </thead>
        <tbody>
            {% for key, module in modules %}
            <tr>
                <th scope="row">{{key + 1}}</th>
                    <td><a href="{{ path('show_module', {'id' : module.id}) }}">{{module}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
